@import url('https://fonts.googleapis.com/css?family=Barlow+Condensed|Fjalla+One');

$grey: #4d5057;
$orange: #d16014;
$mid-blue: #33658a;
$white-blue: #eeeeff;
$yellow: #f6ae2d;

$font-normal: 'Barlow Condensed', sans-serif;
$font-title: 'Fjalla One', sans-serif;

$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 2rem;
$xl-size: 2.4rem;

$desktop-breakpoint: 42rem;